<html>
<head>
    <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>
    <div>
        <p>{{timestamp}}</p>
        <h3>{{ name }}</h3>
        <img alt={{ name }} src={{image}}></h3>
        <h3>{{role}}</h3>
        <h3>{{jersey}}</h3>
        <h3>{{team }}</h3>
    </div>
</body>
</html>